*,*::after,*::before{
    box-sizing: border-box;
}
/*Se indica el tamaño del logo*/
.logo{
    width: 6rem;
    height: 4rem;
}
.logo-inicio{
    width: 10rem;
    height: 7rem; 
}
/*Para separar la nevagcion del carruseld de fotos*/
.navegacion{
    margin-bottom: 5rem;
}
/*Se utiliza para que la imagen del carrusel ocupe todo el ancho disponible*/
.carrusel{
   width: 100%;
   height: 100%;
}
.carousel-inner{
    height: 35rem;
}
/*Para que cuando se situe el cursor por encima deñ menu de navegacion, se le cambie el color a letra*/
a.color-nav:hover{
    color: #D19A47 !important;
}
a.color-nav:hover{
    transition: color 0.5s ease;
}
#sesion:hover{
    color: #D19A47 !important;
}
/*Para las fotos que se encuentran al lado de la informacion de la tienda*/
.fotoInfo{
    width: 100%;
    height: 100%;
}
.infoPrincipal{
    height: 25rem;
}
/*Para poder usar el color marron*/
.marron{
    color: #D19A47;
    text-decoration: none;
}

.marronTabla{
    background-color: #D19A47 !important; 
}

.marron-oscuro{
    color: #8b5025;
    text-decoration: none;
}
.marron:hover{/*Para anular los efectos de la hoja de estilos de bs, ya que si no al pasaer el raton por encima del elemento se volvia de color negro*/
    color: #D19A47;
    text-decoration: none;
}
/*Para que el formulario se centre en relacion al 80% del tamaño de la pantalla, ya que si no estaria situado muy abajo*/
.formulario{
    border: 1px solid #D19A47;
    border-radius: 5px;
    background-color: #D19A47;
}

.borde-formulario{
    border: 1px solid #D19A47;
    border-radius: 5px;
}
.contenedor-formulario{
    margin-top: 12.5rem;
}

.color-enfoque {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1rem;
    transition: border-color 0.4s ease, box-shadow 0.4s ease;
}

.color-enfoque:focus {
    border-color: #D19A47;
    box-shadow: 0 0 0 0.2rem rgba(209, 154, 71, 0.5); /*Para agregar una sombra marron alrededor del input*/
    outline: none; /* Remove the default outline */
}


.btn-formulario{
    background-color: #8b5025 !important;
    color: #ffff !important;
    transition: font-size 0.5s ease;
}

.btn-formulario:hover{
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    font-size: large;
}
/*Para eliminar los colores de fondo a la hora de hacer click en un dropdown, ya que por defecto se le aplica el color azul*/
.dropdown-item.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:active{
    background-color: white;
}
/*Texto que aparece en los formularios..., en general cuando no esta el menu de navegacion*/
.texto-arriba{
    font-size: 2.5rem;
}
/*En caso de que el dispositivo sea un movil, el tamaño de las letras se disminuira*/
@media (max-width: 767px) {
    .texto-arriba {
        font-size: 1.25rem;
    }
}
/*Para separar al boton de la navegacion en la vista del catalogo*/
.btn-catalogo{
    margin-top: 1rem;
}
/*Para separar el nombre de la tabla de la parte de arriba de la pagina, ya que sino queda debajo de las letras*/
.separacion{
    margin-top: 10rem;
}
/*Para que a los enlaces que se encargan tanto de permitir editar como borrar, cuando se situe el raton por encima, aumenten su tamaño*/
.herramientas{
    text-decoration: none;
    transition: font-size 0.3s ease-in;
}
.herramientas:hover{
    font-size: large;
}
/*Para cambiar el color de fondo cuando el usuario arrastra el texto*/
*::selection{
    background-color: #D19A47;
}
/*Para el modal que aparece para agregar una categoría*/
.campo-categoria{
    border-color: #D19A47;
}
.campo-categoria:focus{
    border-color: #D19A47;
    box-shadow: 0 0 0 0.2rem rgba(209, 154, 71, 0.5);/*Agrega una sombra marrón alrededor del input*/
}
.categoria{
    margin-top: 6.5rem;
}
/*Para la imagen del prodycto cuando se muestra la vista del producto con la informacion del mismo*/
.producto-informacion{
    width:max-content;
    height:35rem;
}
/*Para que el texto que se muestra al no encontrar un producto al realizar el filtrado de productos, se muestre en el centro*/
.productoNoEncontrado{
    margin-top: 15rem;
    margin-bottom: 15rem;
}
/*Estilo para cualquier foto la cual se quiera que al pasar el raton por encima, aumente su tamaño ligeramente para informar al usuario de que tiene
el ratón por encima de ella*/
.aumentoFoto{
    transition:transform 0.5s ease-in;
}
.aumentoFoto:hover{
    transform: scale(1.2);
}
/*Para la cruz que aparece en el carrito para eliminar la lista de articuolos añadidos*/
#iconoBorrar {
    width: 24px;
    height: 24px;
    transition: transform 0.5s, stroke 0.3s;
}

a:hover #iconoBorrar {
    transform: rotate(90deg);
    stroke: red;
}
/*Para separa con una linea cada uno de los enlaces en el dropdown*/
.contenedor-dropdown {
    padding: 10px 15px !important;
    border-bottom: 1px solid gray !important;
}
/*Para que al ultimo elemento del dropdown no le aparezca la separacion*/
.ultimo {
    border-bottom: 0 !important;
}

/*Para que al pasar el raton por encima de alguno de los animales se muestre su información*/
.card-info {
    position: relative;
    cursor: pointer;
}
/*Para los estilos de los animales al mostrarlos desde la pagina*/
.card-imagen {
    width: 100%;
    height: 25rem;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
}
.card-contenido {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease;
    opacity: 0;
}
.card-info:hover .card-contenido {
    opacity: 1;
}
/*Para las fotos de los animales que se encuentran en las solicitudes de adopción*/
.fotoSolicitudes{
    width: 20rem;
    height: 20rem;
}
/*El estado de la solicitud lo muestro en un boton, y uso esta clase para que no se muestre el cursor de poder hacer clic*/
.btn-solicitud{
    cursor: default !important;
}
/*Para los estilos de la vista de contacto*/
.contacto-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contacto-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.icono {
    font-size: 3rem;
    color: #8b5025;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #8b5025;
}
.bg-white {
    background-color: #ffffff;
}

  